fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator
httpx
openpyxl
boto3==1.34.100
